{% if form.posted_successfully? %}
  <p class="form-message form-message--success" tabindex="-1" data-form-status="success">
    {{ 'contact.form.post_success' | t }}
  </p>
{% endif %}

{%- if form.errors -%}
  <div class="form-message form-message--error">
    <h3 tabindex="-1" data-form-status="error">{{ 'contact.form.error_heading' | t }}</h3>
    <ul>
      {% for field in form.errors %}
        <li>
          {% comment %} the href should match the input's id {% endcomment %}
          <a href="#{{ formId }}-{{ field }}">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
